:root {
    --white-base: #ffffff;
    --white-base-opacity: #ffffff5d;
    --black: #000000;
    --error-text: #ff0000;
    --orange: #ff5900d8;
    --orange-base: #ff5900;
    --blue-base: #1677FF;
}